*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('img/log.jpg') no-repeat center center/cover;
}
main{
    margin-top: -110px;
    width: 450px;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid wheat;
    background-color: transparent;
    backdrop-filter: blur(25px);
    position: relative;
}
main header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}
form{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
input[type="text"],
input[type="password"]{
    padding: 15px;
    border: 2px solid white;
    width: 100%;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    color: white;
}
.form_wrapper{
    position: relative;
    display: flex;
    align-items: center;
}
label{
    position: absolute;
    left: 10px;
    font-size: 15px;
    color: white;
    transition: .2s;
}
i{
    position: absolute;
    right: 10px;
    color: white;
    font-size: 15px !important;
}
.remember_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    margin-left: 10px;
}
.remember{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
a{
    color: white;
}
button{
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px !important;
}
input:valid+label,
input:focus+label{
    background-color: white;
    color: black;
    transform: translate(10px, -20px);
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 4px;
}
.new_account{
    text-align: center;
    color: lightgray;
}
header::before{
    position: absolute;
    content:"";
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    box-shadow: 15px 0 0 0 white;
    border-top-right-radius: 50%;
}
header::after{
    position: absolute;
    content: "";
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    box-shadow: -15px 0 0 0 white;
    border-top-left-radius: 50%;
}