USE [PlanningSys]
GO
/****** Object:  User [read_only]    Script Date: 29-Apr-2025 10:12:17 ******/
CREATE USER [read_only] FOR LOGIN [read_only] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [read_only]
GO
/****** Object:  Schema [control]    Script Date: 29-Apr-2025 10:12:17 ******/
CREATE SCHEMA [control]
GO
/****** Object:  Schema [instru]    Script Date: 29-Apr-2025 10:12:17 ******/
CREATE SCHEMA [instru]
GO
/****** Object:  Schema [master]    Script Date: 29-Apr-2025 10:12:17 ******/
CREATE SCHEMA [master]
GO
/****** Object:  Table [instru].[data]    Script Date: 29-Apr-2025 10:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [instru].[data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryDate] [date] NULL,
	[JobNo] [varchar](50) NULL,
	[Core] [float] NULL,
	[CP] [varchar](50) NULL,
	[Sqmm] [float] NULL,
	[isMica] [bit] NULL,
	[OrderQty] [float] NULL,
	[TolM] [float] NULL,
	[TolP] [float] NULL,
	[planTol] [float] NULL,
	[OrdCutLength] [float] NULL,
	[ord_NoofDrums] [int] NULL,
	[CondGrade] [nvarchar](50) NULL,
	[CondType] [nvarchar](50) NULL,
	[InsuType] [nvarchar](50) NULL,
	[NoOfStr] [int] NULL,
	[StrDia] [float] NULL,
	[PlanCutLen] [float] NULL,
	[plan_NoofDrums] [int] NULL,
	[multiplyDrums] [int] NULL,
	[InsuColor] [varchar](50) NULL,
	[PairNo] [tinyint] NULL,
	[CoreNo] [int] NULL,
	[PlanningDate] [date] NULL,
	[RequiredDate] [date] NULL,
	[ordID] [int] NULL,
	[cableCat] [varchar](50) NULL,
	[enqNo] [varchar](50) NULL,
	[valueAmt] [float] NULL,
	[LdPer] [float] NULL,
	[LdTerm] [nvarchar](50) NULL,
	[LdDate] [date] NULL,
	[createdAt] [datetime] NULL,
	[createdBy] [varchar](50) NULL,
	[isDelete] [bit] NULL,
	[isBandM] [bit] NULL,
	[isNoPrintOnCore] [bit] NULL,
	[drums]  AS ([plan_NoofDrums]*[multiplyDrums]) PERSISTED,
 CONSTRAINT [PK_data_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [master].[condSize]    Script Date: 29-Apr-2025 10:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [master].[condSize](
	[id] [int] NOT NULL,
	[size] [float] NULL,
	[type] [varchar](50) NULL,
	[A] [decimal](18, 3) NULL,
	[B] [decimal](18, 3) NULL,
	[B/C] [decimal](18, 3) NULL,
	[50%B & 50%C] [decimal](18, 3) NULL,
	[C] [decimal](18, 3) NULL,
 CONSTRAINT [PK_condSize] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [master].[insuCapacity]    Script Date: 29-Apr-2025 10:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [master].[insuCapacity](
	[size] [float] NOT NULL,
	[weight] [float] NULL,
	[bunchKgs] [float] NULL,
	[drawKgs] [float] NULL,
	[TinKgs] [float] NULL,
	[insuCapCore] [float] NULL,
	[insuCapMica] [float] NULL,
 CONSTRAINT [PK_insuCapacity] PRIMARY KEY CLUSTERED 
(
	[size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [master].[qtyTol]    Script Date: 29-Apr-2025 10:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [master].[qtyTol](
	[id] [int] NOT NULL,
	[lenFrom] [int] NULL,
	[lenTo] [int] NULL,
	[minus] [int] NULL,
	[plus] [int] NULL,
	[per] [float] NULL,
 CONSTRAINT [PK_qtyTol_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [instru].[data] ON 

GO
SET IDENTITY_INSERT [instru].[data] OFF
GO
INSERT [master].[condSize] ([id], [size], [type], [A], [B], [B/C], [50%B & 50%C], [C]) VALUES (1, 0.5, N'Stranded', CAST(0.290 AS Decimal(18, 3)), CAST(0.290 AS Decimal(18, 3)), CAST(0.290 AS Decimal(18, 3)), CAST(0.290 AS Decimal(18, 3)), CAST(0.290 AS Decimal(18, 3)))
INSERT [master].[condSize] ([id], [size], [type], [A], [B], [B/C], [50%B & 50%C], [C]) VALUES (2, 0.75, N'Stranded', CAST(0.370 AS Decimal(18, 3)), CAST(0.370 AS Decimal(18, 3)), CAST(0.370 AS Decimal(18, 3)), CAST(0.370 AS Decimal(18, 3)), CAST(0.370 AS Decimal(18, 3)))
INSERT [master].[condSize] ([id], [size], [type], [A], [B], [B/C], [50%B & 50%C], [C]) VALUES (3, 1, N'Stranded', CAST(0.420 AS Decimal(18, 3)), CAST(0.410 AS Decimal(18, 3)), CAST(0.410 AS Decimal(18, 3)), CAST(0.410 AS Decimal(18, 3)), CAST(0.410 AS Decimal(18, 3)))
GO
INSERT [master].[insuCapacity] ([size], [weight], [bunchKgs], [drawKgs], [TinKgs], [insuCapCore], [insuCapMica]) VALUES (0.5, 4.31, 89, 473, 350, 75000, 45000)
INSERT [master].[insuCapacity] ([size], [weight], [bunchKgs], [drawKgs], [TinKgs], [insuCapCore], [insuCapMica]) VALUES (0.63, 5.12, 89, 495, 380, 75000, 45000)
INSERT [master].[insuCapacity] ([size], [weight], [bunchKgs], [drawKgs], [TinKgs], [insuCapCore], [insuCapMica]) VALUES (0.75, 6.78, 133.5, 246, 450, 75000, 45000)
GO
INSERT [master].[qtyTol] ([id], [lenFrom], [lenTo], [minus], [plus], [per]) VALUES (1, 0, 999, 0, 0, 3)
INSERT [master].[qtyTol] ([id], [lenFrom], [lenTo], [minus], [plus], [per]) VALUES (2, 0, 999, 0, 2, 3)
INSERT [master].[qtyTol] ([id], [lenFrom], [lenTo], [minus], [plus], [per]) VALUES (3, 0, 999, 0, 1, 3)
GO
ALTER TABLE [instru].[data] ADD  CONSTRAINT [DF_data_isMica]  DEFAULT ((0)) FOR [isMica]
GO
ALTER TABLE [instru].[data] ADD  CONSTRAINT [DF_data_isDelete]  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [instru].[data] ADD  CONSTRAINT [DF_data_isBandM]  DEFAULT ((0)) FOR [isBandM]
GO
ALTER TABLE [instru].[data] ADD  CONSTRAINT [DF_data_isNoPrintOnCore]  DEFAULT ((0)) FOR [isNoPrintOnCore]
GO
