/*@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Fondamento:wght@300;400;500;600;700;800&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu:wght@300&display=swap');

:root{
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 0.93rem;
    --z-fixed: 100;
}
*,::before,::after{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    /*font-family: var(--body-font);*/
    font-family: poppins, sans-serif !important;
    font-size: var(--normal-font-size) !important;
    transition: .5s;
}
a{
    text-decoration: none !important;
}
h4{
    font-family: 'Fondamento', serif !important;
}
.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: linear-gradient(135deg, #0c3149cf 0%, #5dc5af 90%);
    /*background: linear-gradient(135deg, #2672b9bf 0%, #54e5b4 100%); */
    z-index: var(--z-fixed);
    transition: .5s;
}
.header_toggle{
    color: var(--white-color);
    font-size: 1.7rem;
    cursor: pointer;
}
.header_img{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.header_img img{width: 40px}
.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    /*background-color: var(--first-color);*/
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}
.l-navbar::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: linear-gradient(135deg, #2f89fc21 0%, #5effc9 100%);
    /*background: linear-gradient(135deg, #2f89fc 0%, #5effc9 100%);*/ 
    opacity: .7;
    z-index: -1;
}
.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.nav_logo, .nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}
.nav_logo{margin-bottom: 2rem}
.nav_logo-icon{
    font-size: 1.25rem;
    color: var(--white-color);
}
.nav_logo-name{
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 700;
}
.nav_logo-name small{
    font-size: 1.25rem;
    color: orange;
    font-weight: 700;
}
.nav_link{
    position: relative;
    /*color: var(--first-color-light);*/
    color: var(--white-color);
    margin-bottom: 0.5rem;
    transition: .3s;
}
.nav_link:hover{color:#5effc9}
.nav_icon{
    font-size: 1.25rem;
}
.show{left: 0}
.body-pd{
    padding-left: calc(var(--nav-width) + 1rem);
}
.active{
    color: #5effc9;
    font-weight: 600;
}
.active::before{
    content: '';
    position: absolute;
    left: 0;
    border-top-right-radius: 2rem 10em; 
    border-bottom-right-radius: 2rem 10em;
    width: 6px;
    height: 32px;
    background-color: #5effc9;
}
.l-navbar .drop3{
    display: none;
}
 #departPage,#proPage,#rolePage,#eduPage{
    display:block;
} 
.height-100{
    height:100vh;
}
ul{
    padding: 0;
}
.logout {
    margin-bottom: 50px;
}
@media screen and (min-width: 768px){
    body{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }
    .header{
        height: calc(var(--header-height) + 0.8rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_img{
        width: 40px;
        height: 40px;
    }
    .header_img img{width: 45px}
    .l-navbar{
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    .show{
        width: calc(var(--nav-width) + 140px);
    }
    .body-pd{
        padding-left: calc(var(--nav-width) + 70px);
    }
    .header-pd{
        padding-left: calc(var(--nav-width) + 170px);
    }
}